In [5]:
# Dependencies and Setup
import pandas as pd

schools = "Resources/schools_complete.csv"
students = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(schools)
student_df = pd.read_csv(students)

# Combine the data into a single dataset.  
school_data = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])

school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [42]:
#District summary

#Determine all the school names
school_names = school_data['school_name'].unique()

#Count the number of schools
num_of_schools = len(school_names)
num_of_schools

#Count the number of students in the district
num_of_students = school_data['size'].count()
num_of_students

#Calculate total budget
total_budget = school_df['budget'].sum()
total_budget

#Calculate average math score
avg_math_score = school_data['math_score'].mean()
avg_math_score

#Calculate average reading score
avg_reading_score = school_data['reading_score'].mean()
avg_reading_score

#Calculate percent of students with passing math score
num_passing_math = school_data.loc[school_data['math_score'] >= 70]['math_score'].count()
pct_passing_math = (num_passing_math/num_of_students)*100
pct_passing_math

#Calculate percent of students with passing reading score
num_passing_reading = school_data.loc[school_data['reading_score'] >= 70]['reading_score'].count()
pct_passing_reading = (num_passing_reading/num_of_students)*100
pct_passing_reading

#Calculate percent of students who passed math and reading
num_passing_both = school_data[(school_data['math_score'] >= 70) & 
                                (school_data['reading_score'] >= 70)]['school_name'].count()
pct_passing_both = (num_passing_both/num_of_students)*100
pct_passing_both

district_summary = pd.DataFrame({"Total Number of Schools": [number_of_schools], 
                                                        "Number of Students": [number_of_students], 
                                                        "Total Budget": [total_budget], 
                                                        "Average Math Score": [avg_math_score], 
                                                        "Average Reading Score": [avg_reading_score], 
                                                        "% Passing Math": [perc_passing_math], 
                                                        "% Passing Reading": [perc_passing_reading], 
                                                        "% Passing Math and Reading": [pct_passing_both]
                                }) 
district_summary.head()

,Total Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [97]:
#School summary

#Group by schools
school_group = school_data.set_index('school_name').groupby(['school_name'])
school_group.count().head(15)

#Determine the school type
school_type = school_data.set_index('school_name')['type']
school_type

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [ ]:
#Count number of total students per school
num_of_students = school_group['Student ID'].count()
num_of_students

#Calculate total school budget
school_budget = school_data.set_index('school_name')['budget']
school_budget

#Calculate budget per student  
budget_per_student = (school_budget/num_of_students)
budget_per_student

#Calculate average math score by school
avg_math_score_school = school_group['math_score'].mean()
avg_math_score_school 

#Calculate average reading score by school
avg_reading_score_school = school_group['reading_score'].mean()
avg_reading_score_school 

#Calculate percent of students with passing math score
num_passing_math = school_data[school_data['math_score'] >= 70].groupby('school_name')['Student ID'].count()
num_passing_math
pct_passing_math = (num_passing_math/num_of_students)*100
pct_passing_math

#Calculate percent of students with passing reading score
num_passing_reading = school_data[school_data['reading_score'] >= 70].groupby('school_name')['Student ID'].count()
num_passing_reading
pct_passing_reading = (num_passing_reading/num_of_students)*100
pct_passing_reading

#Calcuate percent of students passing math and reading
num_passing_both = school_data[(school_data['math_score'] >= 70) & 
                               (school_data['reading_score'] >= 70)].groupby('school_name')['Student ID'].count() 
num_passing_both
pct_passing_both = (num_passing_both/num_of_students)*100
pct_passing_both



school_summary = pd.DataFrame({"School Type": [school_type], 
                                    "Total Students": [num_of_students], 
                                    "Total School Budget": [school_budget], 
                                    "Per Student Budget": [budget_per_student], 
                                    "Average Math Score": [avg_math_score_school], 
                                    "Average Reading Score": [avg_reading_score_school], 
                                    "% Passing Math": [pct_passing_math], 
                                    "% Passing Reading": [pct_passing_reading], 
                                    "% Passing Math and Reading": [pct_passing_both]
                                }) 
school_summary.head(15)